<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %cyan(%logger{0}): %msg%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root: solo INFO+ y sin exceso -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>